*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #696969;
    color: darkgrey;
    margin: 0px;
    margin-bottom: 100px;
}
header{

    background-color: aliceblue;
    color: aqua;
    text-align: center;
    padding: 20px;
    }